<div class="footer-wrap">
  <div class="c"></div>
  <div id="bottom"></div>
  <br>
  <div id="footer">
    <div class="mb5">
      <div class="bottom tac">
        <span class="mr10">
          <a href="/sitemap.txt" title="网站地图">网站地图</a>
        </span>
        <span class="gray mr10">|</span>
        <span class="mr10">
          <a href="#" title="回到顶部">回到顶部</a>
        </span>
      </div>
    </div>
    <div class="f10 s6 tac">
      <p class="mb5" id="footInfo">Powered by Bug.im</p>
    </div>
  </div>
</div>