<div class="newflash pr">
  <div class="view-hover">
    <ul class="flashimg" id="SlayerA_1">
      <li class="switchItem" style="">
        <a href="#" target="_blank"><img src="/static/lunbo1.jpg" width="730" height="250"></a>
        <p><a href="#" target="_blank">低价出售高品质外链</a></p>
      </li>
    </ul>
    <div class="flashBg"></div>
    <ul class="an" id="SlayerA_2">
      <li class="switchNavItem current"><a href="javascript:;">1</a></li>
    </ul>
  </div>
</div>
<script>
  onReady(function(){
    ddSliderPlayers('SlayerA_1','SlayerA_2',6,'current');
  })
</script>
<div class="c mb10"></div>
