<div class="wrap">
  <div class="logo_wrap_bg"></div>
  <div class="logo_wrap">
    <div id="head" class="cc">
      <a href="/"><img src="/static/logo.png" class="fl" width="260" height="67"></a>
    </div>
  </div>
  <div class="c"></div>
  <div class="nav_wrap">
    <div id="navA">
      <div class="navA">
        <ul class="cc">
          <li><a href="/a.html">国内</a></li>
          <li><a href="/b.html">国际</a></li>
          <li><a href="/c.html">体育</a></li>
          <li><a href="/d.html">科技</a></li>
          <li><a href="/e.html">财经</a></li>
          <li><a href="/f.html">娱乐</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>